/* details */
/* margin icon */
i{
    margin-left: 4px;
    margin-right: 4px;
}
.message{
    margin-top: 20px;
    font-weight: 600;
    color: red;
    text-align: center;
    text-transform: uppercase;
}
.fa-trash-can{
    color: red;
}
.link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;
}
/* body */
body{
    background-color: #f0f8fd;
}
/* Header navbar */
.navbar-style{
    background-color:  #5161ce;
}
.navbar-style a{
    font-weight: bold;
    text-decoration: none;
    color: yellow;
}
/* Search bar */
/* .search-bar{
    width: 50px
} */
/* Tieu de page */
.headline-page{
    color: blue;
    text-align: center;
    text-transform: uppercase;
}
/* table */
table{
    text-align: center;
    font-weight: 550;
}
table thead>tr{
    color: yellow;
    background-color: #5161ce;
}
/* Form Add task */
form{
    display: flex;
    justify-content: center;
    
}
form label{
    font-size: 1.6rem;
    margin-right:6px;
}
form button{
    
}